<?xml version="1.0" ?>
<section xmlns="http://docbook.org/ns/docbook" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:xlink="http://www.w3.org/1999/xlink" xml:lang="ja" version="5.0" xml:id="v2.module">
  <title>boost/python/module.hpp</title>

  <section xml:id="v2.module.introduction">
    <title>はじめに</title>
    <para>
      このヘッダは、Boost.Python 拡張モジュールを作成するのに必要な基本的な機能を提供する。
    </para>
  </section>

  <section xml:id="v2.module.macros">
    <title>マクロ</title>
    <para>
      <symbol>BOOST_PYTHON_MODULE(name)</symbol> は Python の<link xlink:href="http://www.python.org/doc/2.2/ext/methodTable.html#SECTION003400000000000000000">モジュール初期化関数</link>を宣言するのに使用する。引数 <parameter>name</parameter> は初期化するモジュールの名前に完全に一致していなければならず、Python の<link xlink:href="http://docs.python.jp/2/reference/lexical_analysis.html#identifiers">識別子の名前付け規約</link>に従っていなければならない。通常、次のように書くところを、
    </para>
    <programlisting language="C++">extern "C" void initname()
{
   ...
}</programlisting>
    <para>
      Boost.Python モジュールでは次のように初期化する。
    </para>
    <programlisting language="C++">BOOST_PYTHON_MODULE(name)
{
   ...
}</programlisting>
    <para>
      このマクロは、使用したスコープ内で 2 つの関数 <code language="C++">extern "C" void init<replaceable>name</replaceable>()</code> および <code language="C++">void init_module_<replaceable>name</replaceable>()</code> を生成する。関数の本体はマクロ呼び出しの直後でなければならない。生成された C++ 例外を安全に処理するため、<function>init_<replaceable>name</replaceable></function> は <function>init_module_<replaceable>name</replaceable></function> を <function linkend="v2.errors.handle_exception-spec">handle_exception()</function> に渡す。<function>init_<replaceable>name</replaceable></function> の本体内では現在の <classname linkend="v2.scope.scope-spec">scope</classname> は初期化するモジュールを指す。
    </para>
  </section>

  <section xml:id="v2.module.examples">
    <title>例</title>
    <para>
      C++ のモジュール定義：
    </para>
    <programlisting language="C++"><![CDATA[#include <boost/python/module.hpp>

BOOST_PYTHON_MODULE(xxx)
{
    throw "何かまずいことが起きた"
}]]></programlisting>
    <para>
      Python の対話例：
    </para>
    <screen language="C++"><prompt>&gt;&gt;&gt; </prompt><userinput>import xxx</userinput>
<computeroutput>Traceback (most recent call last):
  File "", line 1, in ?
RuntimeError: Unidentifiable C++ Exception</computeroutput></screen>
  </section>
</section>
